html{
	background: red;
}

h1{
	width: 100%;
	text-align: center;
}

 a:visited, a:-webkit-any-link, a:any-link{
  text-decoration: none ;
  color: white;
 }

 a:hover{
 	color: blue;
 	cursor: pointer;
 }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 500px;
    position:absolute;
    top:25%;
    bottom: 25%;
    left:25%;
    right:25%;
}

.center:hover {
	 width: 51%;
    max-width: 510px;
	cursor: pointer;
}